<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario</title>
    <script>
        function enviarDatosLogin() {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;

            var data = JSON.stringify({
                "username": username,
                "password": password
            });

            var xhr = new XMLHttpRequest();
            xhr.open("POST", "/validarInicioSesion", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.send(data);
        }
    </script>
</head>
<body>
    <input type="text" id="username" placeholder="Username">
    <input type="password" id="password" placeholder="Password">
    <button onclick="enviarDatosLogin()">Login</button>
</body>
</html>
