<!DOCTYPE html>
<!-- Thymeleaf -->
<html xmlns:th="https://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Tutor</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- Iconos Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
</head>
<body>

<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-3 px-sm-3 px-0 bg-dark">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <span class="fs-5 d-none d-sm-inline">Menú Principal Empleado</span>
                <br>
                </a>
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="/empleado/home/mostrar" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house-fill"></i> <span class="ms-4 d-none d-sm-inline">Home</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/mensaje/mostrarGestionMensajeEmpleado" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-dash-square-fill"></i> <span class="ms-4 d-none d-sm-inline">Gestionar mensajes</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/instalacion/mostrarTablaInstalacionesEmpleado" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-pencil-square"></i> <span class="ms-4 d-none d-sm-inline">Ver instalaciones</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/animal/mostrarTablaAnimalEmpleado" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-pencil-square"></i> <span class="ms-4 d-none d-sm-inline">Ver Animales</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="fs-4 bi-person-circle"></i>
                        <span class="d-none d-sm-inline mx-1" th:text="${session.user.nombre} + ' ' + ${session.user.apellidos}"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li><a class="dropdown-item" href="#">Usuario: <span th:text="${session.user.username}"/></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="/login/cerrarSesion">Cerrar Sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div>
            <h1>Lista de instalaciones</h1>

            <div>
                <div class="col-12 col-md-9">
                    <div class="mb-2">
                        <button onclick="accionConId('verBebederosJefe')" class="btn btn-primary">Ver bebederos</button>
                        <button onclick="accionConId('verComederosJefe')" class="btn btn-secondary">Ver comederos</button>
                        <button onclick="accionConId('verAnimalesHabitatJefe')" class="btn btn-success">Ver animales del habitat</button>
                        <button onclick="accionConId('verPlantasHabitatJefe')" class="btn btn-success">Ver plantas del habitat</button>

                    </div>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Tipo habitat</th>

                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="habitat : ${habitats}" th:id="${'fila-' + habitat.id}" onclick="seleccionarFila(this.id)">
                                <td th:text="${habitat.id}"></td>
                                <td th:text="${habitat.tipoHabitat}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>





        </div>
    </div>
</div>
<script>
    var idSeleccionado = null;
    var filaSeleccionada = null;

    function seleccionarFila(idFila) {
        var fila = document.getElementById(idFila);
        var id = idFila.split('-')[1]; // Obtiene el ID del animal

        if (filaSeleccionada === fila) {
            fila.classList.remove('table-active');
            idSeleccionado = null;
            filaSeleccionada = null;
        } else {
            if (filaSeleccionada) {
                filaSeleccionada.classList.remove('table-active');
            }
            fila.classList.add('table-active');
            idSeleccionado = id;
            filaSeleccionada = fila;
        }
    }


    function accionConId(accion) {
        if (idSeleccionado) {
            var url;
            switch (accion) {
                case 'verBebederosJefe':
                    url = '/habitat/bebederoEmpleado/' + idSeleccionado;
                    break;
                case 'verComederosJefe':
                    url = '/habitat/comederoEmpleado/' + idSeleccionado;
                    break;
                case 'verAnimalesHabitatJefe':
                    url = '/habitat/animalJefe/' + idSeleccionado;
                    break;
                case 'verPlantasHabitatJefe':
                    url = '/habitat/plantaJefe/' + idSeleccionado;
                    break;
                default:
                     return;
             }
            window.location.href = url;
        } else {
            alert("Por favor selecciona un elemento de la tabla primero.");
        }
    }
</script>
<!-- Script Bootstrap -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>